
<template>
  <div id="main" class="flex-container">
    <div class="save__container flex-container">
      <img src="@/assets/cactus_logo.svg" alt>
      <p>¡Enhorabuena!<br>Tu perfil ha sido actualizado.</p>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
export default {
  data() {
    return {};
  },
  computed: {}
};
</script>